{{!< default}}
<header id="blog-header"{{#if @blog.cover_image}} class="has-cover"{{/if}}>
	<h1 class="blog-name"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
	{{#if @blog.description}}
	<p class="blog-description">{{@blog.description}}</p>
	{{/if}}
	{{#if @blog.cover_image}}
	<div class="blog-cover cover" style="background-image: url('{{img_url @blog.cover_image}}');"></div>
	{{/if}}
</header>

<div id="index" class="container">

	<main class="content" role="main">
		<div class="post-list">
			{{> "loop"}}
		</div>

	</main>

</div>
