*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html, body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}